<html><head>
<link rel="stylesheet" media="all" href="/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css" data-turbolinks-track="reload">
<script src="/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js" data-turbolinks-track="reload"></script>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><title>ChatSpaceSample</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="x5vLe49bqI4OjC4ogKRmlW+x5L59jucQKi7YNKX9P/iiqly6z1nBr5LuY5olwkDFWDGpA4CGJKgBvB3eOC2J2A=="></head>
<body>
<div class="flash-box">
</div>

<div class="wrapper">
<div class="chat-side">
<div class="side-header">
<div class="side-header__box">
<p class="side-header__box__user-name">AAA</p>
<ul class="side-header__box__menu">
<li class="side-header__box__menu__new-group">
<a href="/groups/new"><i class="fa fa-edit"></i>
</a></li>
<li class="side-header__box__menu__edit-user">
<a href="/users/8173/edit"><i class="fa fa-cog"></i>
</a></li>
</ul>
</div>
</div>
<div class="groups">
<a href="/groups/11764/messages"><div class="group">
<p class="group__group-name">AAA</p>
<p class="group__latest-message">まだメッセージがありません</p>
</div>
</a></div>
</div>

<div class="chat-main">
<div class="main-header">
<div class="main-header__left-box">
<h2 class="main-header__left-box__current-group" data-group_id="11764">
AAA
</h2>
<ul class="main-header__left-box__member-list">
Member：
<li class="main-header__left-box__member-list__member">AAA</li>
</ul>
</div>
<a href="/groups/11764/edit"><div class="main-header__edit-btn">Edit</div>
</a></div>
<div class="messages">

</div>
<div class="form">
<form class="new_message" id="new_message" enctype="multipart/form-data" action="/groups/11764/messages" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="EOb7/RjXKm7J7BbQT7lhnFIHq67iwCPlnHksbx14+zT0Tgfv9LolG+V8k+UQgwPBn9B+XBxmEIox2PxhLRYAOQ=="><div class="input-box">
<input placeholder="type a message" class="input-box__text" type="text" name="message[content]" id="message_content">
<label class="input-box__image" for="message_image"><i class="fa fa-image"></i>
<input class="input-box__image__file" type="file" name="message[image]" id="message_image">
</label></div>
<input type="submit" name="commit" value="Send" class="submit-btn" data-disable-with="Send">
</form></div>
</div>

</div>
</body></html>